<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" >
<head>
  	
  	<meta name="google-site-verification" content="99u37KZn-VierWkTbSwrmLIitYSoTcVVT51SPFqiX_4" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
	<meta name="keywords" content="Hair, hair care, afro type 4c, hair extensions, extensions, virgin hair, human hair, clip in extensions, clip in, afro clip ins">
   	<meta name="description" content="Affordable and good quality hair care products for afro textured hair types">
	<title>GoodCare GoodHair | Affordable Hair Products</title> 
	<link rel="icon" href="favicon.ico" type="image/x-icon">
  	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  
	
    <!-- CSS Link : BEGIN -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/mystyles.css">
	<link rel="stylesheet" href="assets/css/styles.css">
	<link rel="stylesheet" href="assets/css/templatemo-style.css">
	<link href="assets/fontawesome/css/all.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="assets/css/icons.css">
	<link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="assets/owl-carousel/owl.theme.css">
  
	<!-- JS Link : BEGIN -->
  	<script src="assets/js/jquery-3.4.1.slim.js"></script>
	<script>
	
		function openNavedit() {
		
		document.getElementById("editprofilecv").style.width = "90%";
		$('#mymodal-bg').fadeIn('slow');
		$('.cart-content').addClass('fadeIn');
		
		}
		
		function closeNavedit() {document.getElementById("editprofilecv").style.width = "0";
		$('#mymodal-bg').fadeOut('slow');
		
		
		$('.cart-content').removeClass('fadeIn');
		
		}
		
		function openCheckout() {

		document.getElementById("checkoutnav").style.width = "90%";
		$('#mymodal-bg').fadeIn('slow');
		
		$('.cart-content').removeClass('fadeIn');
		setTimeout(function(){$('.checkout-instructions').addClass('fadeIn')},0);
		}
		
		function closeCheckout() {document.getElementById("checkoutnav").style.width = "0";
		$('#mymodal-bg').fadeOut('slow');
		
		$('.checkout-instructions').removeClass('fadeIn');
		}

		function openProduct() {
			document.getElementById('editprofileproduct').style.width = "100%";
		$('#mymodal-bg').fadeIn('slow');
		
		}
		function closeProduct() {
			document.getElementById('editprofileproduct').style.width = "0%";
		$('#mymodal-bg').fadeOut('slow');
		
		}
 		function goToSocial(social) {
			const socialId = social
			//console.log(socialId)
			if (socialId == 'instagram') {
				window.location.href="https://instagram.com/goodcaregoodhairza/"
			} else if (socialId == 'twitter') {

			} else if (socialId == 'facebook') {

			} else if (socialId == 'whatsapp') {
				window.location.href="https://wa.me/27673457127"
			}
			 
			
		}		
		 
		function openStorePolicy() {
			$('#store-policy').fadeIn('slow');
			$('#mymodal-bg').fadeIn('slow')
			
		}
		function closeStorePolicy() {
			$('#store-policy').fadeOut('slow');
			$('#mymodal-bg').fadeOut('slow');
			
		}
		document.addEventListener('DOMContentLoaded', function() {
			storePolicy = document.querySelector('.store-policy')
			storePolicy.addEventListener('click', function(storeEvent) {
				storeEvent.preventDefault()
			})
			
		})


</script>
</head>

<body>
	 <!-- PRE LOADER -->
     <div class="preloader">
		<div class="spinner">

			 <span class="spinner-rotate"></span>
			 
		</div>
   </div>
   <!-- PRE LOADER -->
	<div class="main-body">
		<div class="spacer">
			&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
		</div>
    <div class="email-container">
    	<!-- BEGIN BODY -->
      <table role="presentation" class="container-table">
      	<tr>
          	<td>
		  <!-- ***** Header Area Start ***** -->
		  <header class="header-area header-sticky new-hero background-header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav class="main-nav">
							<div onclick="openNavedit()">
								<i class="header-handbag icon icon-sli-handbag icon3x fontSize30"></i>
								<div class="handbag-cart num-cart-items" >0</div>
							</div>
							<!-- ***** Logo Start ***** -->
							<img src="assets/images/logo.svg" class="logo-class logo" alt="logo"/>
							
								<div class="logo"><p>GoodCare</p> <p>GoodHair</p></div>
							
							<!-- ***** Logo End ***** -->
							<!-- ***** Menu Start ***** -->
							<ul class="nav">
								<li class="scroll-to-section"><a href="#welcome" class="menu-item scroll-link" data-id="top">Home</a></li>
								<li class="scroll-to-section"><a href="#about" class="menu-item scroll-link" data-id="about-us-section">About Us</a></li>
								<li class="scroll-to-section"><a href="#cart" class="menu-item scroll-link" data-id="add-to-cart">Products</a></li>
								
								<!--<li class="scroll-to-section"><a href="#testimonial" class="menu-item scroll-link" data-id="owl-testimonial">Testimonials</a></li>-->
                                <li class="scroll-to-section"><a href="blog" class="menu-item" >Blog</a></li>
								<li class="scroll-to-section"><a href="#contact-us" class="menu-item scroll-link" data-id="contact">Contact Us</a></li>
								<li class="scroll-to-section"><a href="" class="menu-item store-policy" onclick="openStorePolicy()">Store Policy</a></li>
								<li class="scroll-to-section social-nav" onclick="goToSocial('instagram')">
									<ul class="menu-item">
										<!--<p class="fab fa-facebook-f"></p>-->
										<li><p class="fab fa-instagram"><a class="social-menu-item" href="https://instagram.com/goodcaregoodhairza/"></a></p></li>
										<!--<p class="fab fa-twitter"></p>-->
									</ul>
								</li>
								<div class="scroll-to-section" onclick="openNavedit()">
									<i class="menu-item header-handbag2 icon icon-sli-handbag icon3x fontSize30"></i>
									<div class="handbag2-cart num-cart-items2" >0</div>
								</div>
							</ul>
	
							<a class='menu-trigger'>
								<span>Menu</span>
							</a>
							<!-- ***** Menu End ***** -->
						</nav>
					</div>
				</div>
			</div>
		</header>
             
		</td><!-- ***** Header Area End ***** -->
	    </tr> 
	      <tr class="table-body">
          <td valign="middle"  class="hero heroMobile bg_white zoomOnLoad" >
			  <div class="overlay"></div>
			  <div class="underlay"></div>
            <table>
            	<tr id="top">
            		<td class="banner-text fadeOut">
            			<div  class="text">
            				<h2>Affordable afro-textured clip in extensions - 100% virgin human hair</h2>
            				
            				<p><a href="#" class="btn btn-primary scroll-link" data-id="add-to-cart">Start Shoping</a></p>
            			</div>
            		</td>
            	</tr>
            </table>
          </td>
		  <td valign="middle"  class="hero heroPC bg_white zoomOnLoad" >
			<div class="overlay"></div>
			<div class="underlay"></div>
		  <table>
			  <tr id="top">
				  <td class="banner-text fadeOut">
					  <div  class="text">
						  <h2>Affordable afro-textured clip in extensions - 100% virgin human hair</h2>
						  
						  <p><a href="#" class="btn btn-primary scroll-link" data-id="add-to-cart">Start Shoping</a></p>
					  </div>
				  </td>
			  </tr>
		  </table>
		</td>
		  </tr><!-- end tr -->
		  <!--****About Section Start****-->
				<tr>
          <td valign="middle" class="intro bg_white about_section">
            <table>
            	<tr id="about-us-section">
            		<td>
            			<div class="text">
            				<h2>About Us</h2>
            				<p class="about-text">We offer affordable hair care solutions and aesthetics for afro-textured hair types. Our products include afro hair clip-in extensions, detangling brushes and other accessories. Our products are tailored for the young African woman who has just gone "natural" and is ready to embrace her natural hair. We believe that healthy hair is good hair and we love all your kinks, curls and coils. </p>
            				<p><a href="#" class="btn btn-black scroll-link" data-id="add-to-cart">Browse Shop</a></p>
            			</div>
            		</td>
            	</tr>
            </table>
          </td>
		  </tr><!-- end tr -->
		  <!--****About Section End****-->
		 
		  <!--****View Products Section Start****-->
		  <!--****Slider Start****-->
		  <tr class="productsDisplay">
			<td class="bg_white" id="products2">
				<table>
					<div class="text main-text">
						<h2>View our Products</h2>
						  <br>
					</div>
				   
					   
						   <div class="grid-products scrollhide">
							   <div class="view-products">
								   <div id="">
									   <ul id="" class="">
										   <li class="">
											   <img src="assets/images/view-product-1.jpg" alt="Woman with Curly Clip In"/>
											   <div class="btn-product scroll-link" data-id="contact">Shop Now</div>
											   
										   </li>
										   <li class="">
											  <img src="assets/images/view-product-2.jpg" alt="GoodCare GoodHair Flexi Hair Brush"/>
											  <div class="btn-product scroll-link" data-id="contact">Shop Now</div>
											  
										  </li>
										  <li class="">
											  <img src="assets/images/view-product-3.jpg" alt="Woman with Straight Clip in Hair"/>
											  <div class="btn-product scroll-link" data-id="contact">Shop Now</div>
											  
										  </li>
										  <li class="">
											  <img src="assets/images/view-product-4.jpg" alt="GoodCare GoodHair Satin Bonnet"/>
											  <div class="btn-product scroll-link" data-id="contact">Shop Now</div>
										  </li>

									  </ul>
								  </div>
							  </div>
							   
							   <div class="line-dec line-auto"></div>
						  </div>
					   
					   

				</table>
			</td>
		</tr>
		  <!--****Slider End****-->
		  <!--****Carousel Start****-->
		  <tr class="productsCarouselDisplay">
			  <td class="bg_white" id="products">
				  <table>
					  <div class="text main-text">
						  <h2>View our Products</h2>
							<br>
					  </div>
					 
						 
							 <div class="grid-products scrollhide">
								 <div class="view-products">
									 <div id="carousel">
										 <ul id="owl-banner" class="owl-carousel owl-theme myowl">
											 <li class="item coverImgs">
												 <img src="assets/images/view-product-1.jpg" alt="Woman with Curly Clip In"/>
												 <div class="overlay2"></div>
											 </li>
											 <li class="item coverImgs">
												<img src="assets/images/view-product-2.jpg" alt="GoodCare GoodHair Flexi Hair Brush"/>
												<div class="overlay2"></div>
											</li>
											<li class="item coverImgs">
												<img src="assets/images/view-product-3.jpg" alt="Woman with Straight Clip in Hair"/>
												<div class="overlay2"></div>
											</li>
											<li class="item coverImgs">
												<img src="assets/images/view-product-4.jpg" alt="GoodCare GoodHair Satin Bonnet"/>
												<div class="overlay2"></div>
											</li>

										</ul>
									</div>
								</div>
								 
								 <div class="line-dec"></div>
							</div>
						 
					 	

				  </table>
			  </td>
		  </tr>
		  <!--****Carousel End****-->
		  <!--****View Products Section End****-->
	      <tr>
		      <td class="bg_white ">
		        <table role="presentation" class="">
				  <tbody class="grid-display myProducts" id="add-to-cart">
					
				  </tbody>
		        </table>
		      </td>
		    </tr><!-- end:tr -->
		    <tr>
          <td valign="middle" class="bg_white contact-table" >
            <table>
            	<tr>
            		<td class="contactSection" >
						<div class="text">
							<h2 >Contact Us</h2>
							
							<div class="line-dec"></div>
							<p><a href="mailto:info@goodcaregoodhair.co.za">Email Us</a></p>
						</div>
						
						<br>
						<form id="contact" class="contact-form" action="" method="post" onsubmit="return false">
							<div class="row">
								<div class="myFormDiv col-md-4">
								  <fieldset>
									<input name="name" type="text" class="form-control required-input" id="name" placeholder="Your name..." required>
								  </fieldset>
								</div>
								<div class="myFormDiv col-md-4">
								  <fieldset>
									<input name="email" type="email" class="form-control required-input" id="email" placeholder="Your email..." required>
								  </fieldset>
								</div>
								 <div class="myFormDiv col-md-4">
								  <fieldset>
									<input name="subject" type="text" class="form-control required-input" id="subject" placeholder="Subject..." required>
								  </fieldset>
								</div>
								<div class="myFormDiv col-md-12">
								  <fieldset>
									<textarea name="message" rows="6" class="form-control required-input" id="message" placeholder="Your message..." required></textarea>
								  </fieldset>
								</div>
								<div class="myFormDiv col-md-6">
								  <fieldset>
									<button type="submit" id="form-submit" class="btn btn-black-outline" >Send it now</button>
								  </fieldset>
								</div>
							</div>
						</form>
            			
            		</td>
            	</tr>
            </table>
          </td>
	      </tr><!-- end tr -->
      <!-- 1 Column Text + Button : END -->
      </table>
      <table class="table-width">
      	<tr>
          <td valign="middle" class="bg_white footer" id="contact-section">
            <table>
            	<tr class="social_btns">
  				<td valign="middle" class="td-body">
                	<ul class="social">
                		
                		<!--<li onclick="goToSocial('facebook')" class="social_icon_container" data-sid="facebook"><img class="fab fa-facebook-f social_icon"></li>-->
						<li onclick="goToSocial('instagram')" class="social_icon_container" data-sid="instagram"><i class="fab fa-instagram social_icon"></i></li>
						<!--<li onclick="goToSocial('twitter')" class="social_icon_container" data-sid="twitter"><img class="fab fa-twitter social_icon" ></li>-->
						<li onclick="goToSocial('whatsapp')" class="social_icon_container" data-sid="whatsapp"><i class="fab fa-whatsapp social_icon"></i></li>
                	</ul>
                </td>              
				<td valign="middle" class="unset-padding-left footer-td" >
                	<h3 class="heading" >Stay Updated On Our Social Media</h3>
                </td>
                
              </tr>
            </table>
          </td>
		</tr><!-- end: tr -->
		<!-- Right sidenav (cart) start-->
	<div id="editprofilecv" class="editcvnav cart">
		<div class="sidenav-cart-heading">
			<i class="icon icon-chevron_left" onclick="closeNavedit();" id="close-cart"></i>
			<h1 class="title">Your Cart</h1>
		
		</div>
	<div class="cart-content">
		<!-- Cart item start-->
		
		<!-- Cart item end-->
		
		
	</div>	
	
	<div class="cart-footer">
		<h3 class="sidenav-cart-total">your total : R <span class="cart-total">0</span> (once off)</h3>
		<span class="sidenav-cart-shipping">shipping included at checkout</span>
		
		<!--<h3>your total : R <span class="cart2-total">0</span> (monthly)</h3>-->
		<div class="line-dec" ></div>
		<!--<button class="clear-cart banner-btn badge2cart">clear cart</button>-->
		<button class="checkout-cart banner-btn badge2cart" onclick="closeNavedit(); setTimeout(function(){openCheckout()},1000) ">check out</button>
	</div>	


		
	</div>
<!-- Right sidenav (cart) end -->
<!-- Right 2nd sidenav (checkout) start-->
<div id="checkoutnav" class="editcvnav checkout ">
	<div class="sidenav-cart-heading">
		<i class="icon icon-chevron_left" id="close-checkout" onClick="closeCheckout()"></i>
		<h1 class="title">Check Out</h1>
		
	</div>
	<div class="checkout-instructions">
		<div class="checkout-heading">
			<p>Please enter your contact details</p>
		</div>
		<!--checkout start-->
		 <form class="" method="post" onsubmit="return false">
			<div class="checkoutClass">
				<div class="row">
					<div class="col-md-4">
						<fieldset>
						<input name="checkout_name" type="text" class="form-control required-input" id="checkout_name" placeholder="Your name..." required />
						</fieldset>
					</div>
					<div class="col-md-4">
						<fieldset>
						<input name="checkout_surname" type="text" class="form-control required-input" id="checkout_surname" placeholder="Your surname..." required />
						</fieldset>
					</div>
					<div class="col-md-4">
						<fieldset>
						<input name="checkout_email" type="email" class="form-control required-input" id="checkout_email" placeholder="Your email..." required />
						</fieldset>
					</div>
						<div class="col-md-4">
						<fieldset>
						<input name="checkout_phone" type="tel"  class="form-control required-input" id="checkout_number" placeholder="Your cell... (081 234 5678)" required />
						</fieldset>
					</div>
					
					<div class="col-md-12">
						<fieldset>
							<textarea name="checkout_message" rows="4" class="form-control required-input" id="checkout_address" placeholder="Your address..." required></textarea>
						</fieldset>
					</div>
					<div class="col-md-12">
						<fieldset>
							<textarea name="checkout_message" rows="4" class="form-control required-input" id="checkout_requests" placeholder="Any special requests? (optional)..." required=""></textarea>
						</fieldset>
					</div>
					
								
				</div>
				<div class="checkout-content">
					<!-- Checkout item start-->
					
					<!-- Checkout item end-->
					
					
				</div>	
				<div class="line-dec" ></div>
				<div class="checkout-footer">
					<h3 class="sidenav-cart-total">your total : R <span class="checkout-total cart2-total">0</span> (incl. shipping)</h3>
					<!--<span class="shipping-text">(incl. shipping)</span>-->
					<!--<h3>your total : R <span class="checkout2-total">0</span> (monthly)</h3>-->
					<button class="clear-checkout banner-btn badge2checkout" id="checkout_form-submit" >submit</button>
					
				</div>
			</div>
        </form>
	</div>
		


		
</div>
<!-- Right 2nd sidenav (checkout) end -->
<!-- Right 3rd sidenav (product) start-->
		<div id="editprofileproduct" class="editcvnav sidenav-product">
			<div class="detail sidenav-product-heading" id="product-detail">
				<section class="card-wrapper section product-detail">
										
					<div class="cross-container" ><div class="close-detail"><i class=" icon icon2x icon-cross_mark"></i></div></div>
					<div class="card details container-md">
					<div class="product-imgs">
						<div class="img-display">
							<div class="img-showcase">
								<img class="active-img" data-cnt="1" src="assets/images/product-1.jpg">
								<img data-cnt="2" src="assets/images/product-2.jpg">
								<img data-cnt="3" src="assets/images/product-3.jpg">
								<img data-cnt="4" src="assets/images/product-4.jpg">
								
							</div>
						</div>
						<div class="img-select">
							<div class="img-item">	
								<div  class="" data-productid="1">
									<img src="assets/images/product-1.jpg">
								</div>
							</div>
							<div class="img-item">	
								<div  class="" data-productid="2">
									<img src="assets/images/product-2.jpg">
								</div>
							</div>
							<div class="img-item">	
								<div  class="" data-productid="3">
									<img src="assets/images/product-3.jpg">
								</div>
							</div>
							<div class="img-item">	
								<div  class="" data-productid="4">
									<img src="assets/images/product-4.jpg">
								</div>
							</div>
						</div>
					</div>

					
					<div class="icon-display"><i class="icon-animation icon3x fas fa-chevron-down"></i></div>
					<div class="rightSide">
						<div class="product-info">
						<span class="product-title"class="height:fit-content;"></span>
						<span class="product-pricing" >
									<h4>R</h4>
						</span>
						</div>
						<div class="product-price">
						<h4 >Product Details</h4>
						
						<form>
							<div class="product-properties">
								<span class="product-color">
									
									<ul class="ul-color">
										
										
										<input  class="selectColor selectColorDisplay"  type="radio" id="black" name="color" value="black">
										<label  class="black" for="black"></label>

										<input  class="selectColor selectColorDisplay"  type="radio" id="white" name="color" value="white">
										<label  class="white" for="white"></label>

										<input  class="selectColor selectColorDisplay"  type="radio" id="red" name="color" value="red">
										<label  class="red" for="red"></label>
										<!--<li><div class="black active-color"></div></li>
										<li><div class="white"></div></li>
										<li><div class="blue"></div></li>-->
									</ul>
								</span>
								<span class="product-size">
									
									<ul class="ul-size">
										<li><div>XS</div></li>
										<li><div>S</div></li>
										<li><div>M</div></li>
										<li><div>L</div></li>
										<li><div>XL</div></li>
									</ul>
								</span>
							</div>
						</form>
						
							
							

						
						<form class="product-form" >
						
						<button class="bag-btn addCart in_stock flexDisplay" data-cartid="0">Add To Cart</button>

						</form>
					</div>
				</div>
			</section>
				</div>
			</div>
<!-- Right 3rd sidenav (product) end -->
<!-- Modal Background start-->
<div id="mymodal-bg" class="bg-mymodal" style="display:none" >

<!--**************** Start Store Policy Modal ****************-->
	<div id="" class="cm-block " >
		
		<div class="store-policy-container display_none" id="store-policy" >
			<i class="cross-icon icon icon-cross_mark" id="close-storePolicy" onClick="closeStorePolicy()"></i>
			<h1 class="title">Store Policy</h1>
            <span>
            <h4>Delivery & Shipping</h4>
            •	We deliver nationwide, anywhere in South Africa.<br/> 
            •	Delivery takes 1-3 working days after order processing. For outlying areas 3-4 days.<br/> 
            •	Orders will be processed within 2 working days upon receipt of payment.<br/> 
            •	Delivery cost are R 100 for all products excluding hair extensions. Free delivery only applies to purchases on hair extensions.<br/> 
            •	No deliveries will be made during the weekend or public holidays as our shipping service provider does not deliver on weekends.



            <h4>Return Policy</h4>
            We accept return of products excluding all hair extensions. Customers have the right to apply for a return within 3 days after the receipt of the product. Hair extensions (clip in extensions and wigs) cannot be returned as we need to maintain good hygiene and safety standards. 

            To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging. To complete your return, we require a receipt or proof of purchase.

            Customers will need to pay the full delivery cost if they need return. All returned products will be inspected before any refund is paid out. If used, washed, or manipulated in any way then refund will be rejected.

            <h4>Cancellation</h4>
            We accept order cancellation before the product is processed for delivery. If the order is cancelled before arrangements for delivery, you will get full refund. We cannot cancel the order once the product is already on its way to being delivered to the customer.

            <h4>Exchange</h4>
            Due to the nature of our products, we do not make provisions for any product exchanges.
            </span>
		</div>
	</div>
<!--**************** End Store Policy Modal ****************-->

<!--****************Notification Modal Start****************-->
<div class="myNotif detail display_none" id="success-notif" >
	<div >
		<i class="success-icon-color icon-sli-check"></i> <span class="message">Hey there, your message has been sent. We'll contact you as soon as possible</span>
	</div>
</div>

<div class="myNotif detail display_none" id="error-notif" >
	<div >
		<i class="warning-icon-color icon-sli-close" ></i> <span class="message">Oops, something went wrong. Please try again</span>
	</div>
</div>
<!--**************** Notification Modal End****************-->
</div>
<!-- Modal Background end-->
          
           <!-- ******* Testimonial Start *******-->
		<tr>
          <td class="bg_white testimonial-td">
          	<div class="testimonial quote-container" id="#testimonial">
	<!--<div class="quote-icon"><i class="fas fa-quote-left"></i></div>-->
	<p class="quote-icon">&#8220</p>
	<!--<div class ="line-dec" ></div>-->
		<div id="owl-testimonial">
			<div class="item mycarousel-item quote">
	
				<h3>Mickey</h3>
				<ul class="quote-rating">
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple far fa-star"></i></li>
				</ul>
				<p>I just received my parcel. My goodness, I looove your packaging and presentation
				Purple is my favourite colour and this makes me fall inlove with my goodies even more</p>
			</div>
			
			<div class="item mycarousel-item quote">
			
				<h3>Nomsa</h3>
				<ul class="quote-rating">
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple far fa-star"></i></li>
				</ul>
				<p>I used your brush & I love it, thank you</p>
			</div>
			
			<div class="item mycarousel-item quote">
			
				<h3>Ntokozo</h3>
				<ul class="quote-rating">
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple far fa-star"></i></li>
				</ul>
				<p>I wore the wig and I love it. I will post the pics and tag you,
				its beautiful. Thank you so much</p>
			</div>
			
			<div class="item mycarousel-item quote">
			
				<h3>Refilwe</h3>
				<ul class="quote-rating">
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple fas fa-star"></i></li>
					<li><i class="purple far fa-star"></i></li>
				</ul>
				<p>Your service has been excellent so far, your packaging is beautiful
				and the hair feels like very good quality</p>
			</div>
			
		</div>
		<!--<div class ="line-dec"></div>-->
	<!--<div class="quote-icon"><i class="fas fa-quote-right"></i></div>-->
	<p class="quote-icon">&#8221</p>
</div>
          </td>
        </tr>
          
          <!-- ******* Testimonial End *******-->
        <tr>
          <td class="bg_light padding20 center-text">
          	<p>Copyright &copy; 2021 GoodCare GoodHair.</p> <p>Built by <a href="https://www.coralco.co.za" class="built-by" >Coral</a></p>
          </td>
        </tr>
      </table>

    </div>
  </div>
  <script src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/owl-carousel/owl.carousel.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
	
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    
    <script src="assets/js/datepicker.js"></script>
	<script type="text/javascript" src="assets/js/cartapp.js"></script>
	<script src="assets/js/product-card.js"></script>
	<script src="assets/js/get-details.js"></script>
	<script type="text/javascript">
		$(document).ready(function() 
		{
			document.addEventListener('DOMContentLoaded', function() {
			
				submitBTN = document.getElementById('#form-submit')
				submitBTN.addEventListener('click', function(submitEvent) {
					//submitEvent.preventDefault()
				})
			})
			// navigation click actions 
			$('.scroll-link').on('click', function(event){
				event.preventDefault();
				var sectionID = $(this).attr("data-id");
				scrollToID('#' + sectionID, 750);
			});
			// scroll to top action
			$('.scroll-top').on('click', function(event) {
				event.preventDefault();
				$('html, body').animate({scrollTop:0}, 'slow');         
			});
			// mobile nav toggle
			$('#nav-toggle').on('click', function (event) {
				event.preventDefault();
				$('#main-nav').toggleClass("open");
			});
		});
		// scroll function
		function scrollToID(id, speed){
			var offSet = 80;//offsetting to account for the header height, without a header the offset will be 0
			var targetOffset = $(id).offset().top - offSet;
			var mainNav = $('#main-nav');
			$('html,body').animate({scrollTop:targetOffset}, speed);
			if (mainNav.hasClass("open")) {
				mainNav.css("height", "1px").removeClass("in").addClass("collapse");
				mainNav.removeClass("open");
			}
		}
		if (typeof console === "undefined") {
			console = {
				log: function() { }
			};
		}
		</script>
  <script>
	  // Menu Dropdown Toggle start
	if ($('.menu-trigger').length) {
		$(".menu-trigger").on('click', function () {
			$(this).toggleClass('active');
			$('.header-area .nav').slideToggle(200);
		});
	}
	// Menu Dropdown Toggle end
	//$(document).on('DOMContentLoaded', function() {
	window.addEventListener('load', (loadevent) =>{
	$(document).ready(function() {
		$('.preloader').fadeOut(1000);
		//$('.zoomOnLoad').addClass('zoomAnim');
		//	document.querySelector('.zoomOnLoad').style.background = "cover";
			setTimeout(function() {
				$('.heroMobile').animate({backgroundSize:"270%"},1000)
				$('.heroMobile .banner-text .text').addClass('fadeIn');
			const mq =
	window.matchMedia("(min-width:992px)"); if (mq.matches) { $('.heroPC').animate({backgroundSize:"100%"},1000)
} else { $('.heroPC').animate({backgroundSize:"120%"},1000)
}					$('.heroPC .banner-text .text').addClass('fadeIn');
			},500);
  	})
	})
	//contact us form start
	//notification start 
	function notify(type,msg) {
		if(type== 'success') {
			
			$('#mymodal-bg').fadeIn('slow');
			
			$('#success-notif').fadeIn('slow');
			msgBox = document.querySelector('#success-notif .message');
			msgBox.innerHTML = msg;
			setTimeout(function(){
				$('#mymodal-bg').fadeOut('slow');
				$('#success-notif').fadeOut('slow');
				
			},3000)
			//setTimeout(function() {
				//location.reload();
			//},3500)
		} else if (type == 'error') {
			$('#mymodal-bg').fadeIn('slow');
			$('#error-notif').fadeIn('slow');
			
			msgBox = document.querySelector('#error-notif .message');
			msgBox.innerHTML = msg;
			setTimeout(function(){
				$('#mymodal-bg').fadeOut('slow');
				$('#success-notif').fadeOut('slow');
				
			},3000)
		}
	}
	//notification end
    // is empty function start
    function isEmpty(str) {
        return !str.trim.length()
    }
    // is empty function end
	$(document).on('click','#form-submit', function(){
		
		response= 'contact';
		if (( $('#name').val() != '' || $('#name').val().length > 1 || isEmpty($('#name').val()) ) ,  ( $('#email').val() != '' || $('#email').val().length > 1 || isEmpty($('#email').val()) ) , ( $('#subject').val() != '' || $('#subject').val().length > 1 || isEmpty($('#subject').val()) ) , ( $('#message').val() != '' || $('#message').val().length > 1 || isEmpty($('#message').val()) )) {

			$.ajax({
							
							type:"POST",
							cache:false,
							url:"api/"+response,
							processData:false,
							contentType:"application/json",
							data:  '{"name":"'+$('#name').val()+'","email":"'+$('#email').val()+'","subject":"'+$('#subject').val()+'","message":"'+$('#message').val()+'"}',
							success: function(r) {
								
								myMessage = "Hey there, we got your message. We'll be in touch as soon as possible!";
								notify('success',myMessage)
								
							},
							error: function(r) {
								//console.log(r)
								myMessage = "Oops, something went wrong. Please try again";
								notify('error',myMessage)
							}
			});
		}	
		
	})

	$(document).on('click','#checkout_form-submit', function(){
		
		response= 'checkout';
		const ui = new UI();
		checkoutCart = Storage.getCart();
		
		for(var j = 0; j <checkoutCart.length; j++) {
		if (($('#checkout_name').val() != '') && ($('#checkout_surname').val() != '') &&   ($('#checkout_email').val() != '')  && ($('#checkout_number').val() != '') &&   ($('#checkout_address').val() != '') && ($('#checkout_requests').val() != '')) {
			$.ajax({
							
							type:"POST",
							cache:false,
							url:"api/"+response,
							processData:false,
							contentType:"application/json",
							data:  '{"name":"'+$('#checkout_name').val()+'","surname":"'+$('#checkout_surname').val()+'","email":"'+$('#checkout_email').val()+'","number":"'+$('#checkout_number').val()+'","address":"'+$('#checkout_address').val()+'","requests":"'+$('#checkout_requests').val()+'","order_name":"'+checkoutCart[j].title+'","order_price":"'+checkoutCart[j].price+'","order_shipping":"'+checkoutCart[j].shipping+'","order_quantity":"'+checkoutCart[j].amount+'","order_id":"'+checkoutCart[j].id+'","order_color":"'+checkoutCart[j].color+'","order_size":"'+checkoutCart[j].size+'"}',
							success: function(r) {
								//location.reload()
								document.getElementById('checkoutnav').style.width = "0%";
								const ui = new UI();
								
								for(var i = 0; i <checkoutCart.length; i++) {
									bagBtnSet = document.querySelector('.bag-btn.addCart');
									bagBtnSet.setAttribute('data-cartid',''+checkoutCart[i].id+'');
									ui.getBagButtons()
									ui.removeItem(checkoutCart[i].id);
									cartContent.removeChild(cartContent.children[0]);

								}
								setTimeout(function() {
									myMessage = "Hey there, order successful. Please check your email for further details";
									notify('success',myMessage)
								},500)
							},
							error: function(r) {
								//console.log(r)
                                document.getElementById('checkoutnav').style.width = "0%";
								myMessage = "Oops, something went wrong. Please try again";
								notify('error',myMessage)
							}
			});
		}
		}	
		
	})
	
	
	$('body').scroll(function() {
		var scrollTop = $("body").scrollTop();
			if (scrollTop> $('.zoomOnLoad').height() - 40) {
				$('.background-header').removeClass('new-hero');
			} else {
				if (!$('.background-header').hasClass('new-hero')) {
					$('.background-header').addClass('new-hero')
				}
			}
			if (scrollTop > 457){
				$('#products .grid-products').addClass('fadeIn');
			}
			if (scrollTop > 520){
				$('#products2 .grid-products').addClass('fadeIn');
			}
			if (scrollTop > $(document).height()-$(window).height()- 1254){
				$('.contactSection').addClass('fadeIn');
			}
			})
	$(document).on('click','.img-container', function() {
		if ($('.img-container .productBorder').hasClass('hoverBorder')) {
			$('.img-container .productBorder').removeClass('hoverBorder');
		}
		if ($('.img-container .product-img').hasClass('opacity75')) {
			$('.img-container .product-img').removeClass('opacity75');
		}
		if ($('.img-container .show-detail').hasClass('slideBagIn')) {
			$('.img-container .show-detail').removeClass('slideBagIn')
		}
	})
	$(document).on('click','[data-slink]', function() {
		id = $(this).attr('data-slink');
		
		prodBorder = document.getElementById('imgBorder'+id);
		prodImg = prodBorder.previousElementSibling;
		prodBagBtn = prodBorder.nextElementSibling;
		$('.img-container .product-img').removeClass('opacity75');
		$('.img-container .productBorder').removeClass('hoverBorder');
		$('.img-container .show-detail').removeClass('slideBagIn')
		$('#imgBorder'+id ).addClass('hoverBorder');
		prodImg.classList.add('opacity75')
		prodBagBtn.classList.add('slideBagIn')
	})

	jQuery(document).ready(function($) { 
	owl1 = $('#owl-testimonial'); 
	owl2 = $('#owl-banner');
	

	owl1.owlCarousel({
              pagination : true,
              paginationNumbers: false,
              autoPlay: 4500, //Set AutoPlay to 4.5 seconds
              items : 1, //10 items above 1000px browser width
              itemsDesktop : [1000,1], //5 items between 1000px and 901px
              itemsDesktopSmall : [900,1], // betweem 900px and 601px
              itemsTablet: [600,1], //2 items between 600 and 0
              itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option

          });
	owl2.owlCarousel({
              pagination : true,
              paginationNumbers: false,
              autoPlay: 4500, //Set AutoPlay to 4.5 seconds
              items : 1, //10 items above 1000px browser width
              itemsDesktop : [1000,1], //5 items between 1000px and 901px
              itemsDesktopSmall : [900,1], // betweem 900px and 601px
              itemsTablet: [600,1], //2 items between 600 and 0
              itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option

          });


		});

		
		

		
$('#mymodal-bg').click(function() {
	if (document.getElementById("editprofilecv").style.width == "90%") {
		document.getElementById("editprofilecv").style.width = "0";
		$("#mymodal-bg").fadeOut('slow');
		
		$('.cart-content').removeClass('fadeIn');
	} else if (document.getElementById("checkoutnav").style.width == "90%") {
		document.getElementById("checkoutnav").style.width = "0";
		$("#mymodal-bg").fadeOut('slow');
		
		$('.checkout-instructions').removeClass('fadeIn');
	}
	if ($('#product-detail').hasClass('active-detail')) {
		$('#product-detail').removeClass('active-detail')
		//$('#product-detail').fadeOut('slow');
		editDetail = document.getElementById('editprofileproduct')
	
		editDetail.style.width = "0%";
		$("#mymodal-bg").fadeOut('slow');
		
	}
	if (document.getElementById('store-policy').style.display =='block') {
		$('#store-policy').fadeOut('slow');
		$('#mymodal-bg').fadeOut('slow');
		
	}
	

});


$(document).on('click','.show-detail', function() {
	r_type = 'detail';
	btnId = $(this).attr('data-addid');
	$.ajax({
						
						type:"GET",
						cache:false,
						url:"api/"+r_type+"?id="+btnId,
						processData:false,
						contentType:"application/json",
						data:  '',
						success: function(r) {
							//when using json,parse(r) and when code php uses json decode, remember [0][id] at end of DB query but remove [id] so that its only DB::query(...)[0]
							var response = JSON.parse(r);

								
									detailDOM = document.querySelector('.detail');
									detailDOM.innerHTML = `<section class="card-wrapper section product-detail">
										
										<div class="cross-container"><div class="close-detail"><i class=" icon icon2x icon-cross_mark"></i></div></div>
										<div class="card details container-md">
										<div class="product-imgs">
											<div class="img-display">
												<div class="img-showcase">
													<img class="active-img" data-cnt="1" src="assets/images/product-1.jpg">
													<img data-cnt="2" src="assets/images/product-2.jpg">
													<img data-cnt="3" src="assets/images/product-3.jpg">
													<img data-cnt="4" src="assets/images/product-4.jpg">
													
												</div>
											</div>
											<div class="img-select">
												<div class="img-item">	
													<div  class="" data-productid="1">
														<img src="assets/images/product-1.jpg">
													</div>
												</div>
												<div class="img-item">	
													<div  class="" data-productid="2">
														<img src="assets/images/product-2.jpg">
													</div>
												</div>
												<div class="img-item">	
													<div  class="" data-productid="3">
														<img src="assets/images/product-3.jpg">
													</div>
												</div>
												<div class="img-item">	
													<div  class="" data-productid="4">
														<img src="assets/images/product-4.jpg">
													</div>
												</div>
											</div>
										</div>
										<div class="icon-display"><i class="icon-animation icon3x fas fa-chevron-down"></i></div>
										<div class="rightSide">
											<div class="product-info">
											<span class="product-title"class="height:fit-content;">${response.title}</span>
											<span class="pricing-position product-pricing" >
														<h4>R${response.price}</h4>
											</span>
											</div>
											<div class="product-price">
											<h4>Product Details</h4>
											<p>${response.description}</p>
											<form>
												<div class="product-properties">
													<span class="product-color">
														<!--<h4>Color</h4>-->
														<ul class="ul-color">
															
															
															<input class="selectColor selectColorDisplay" type="radio" id="black" name="color" value="black">
															<label class="black" for="black"></label>

															<input class="selectColor selectColorDisplay" type="radio" id="white" name="color" value="white">
															<label class="white" for="white"></label>

															<input class="selectColor selectColorDisplay" type="radio" id="red" name="color" value="red">
															<label class="red" for="red"></label>
															<!--<li><div class="black active-color"></div></li>
															<li><div class="white"></div></li>
															<li><div class="blue"></div></li>-->
														</ul>
													</span>
													<span class="product-size">
														<!--<h4>Size</h4>-->
														<ul class="ul-size">
															<li><div>XS</div></li>
															<li><div>S</div></li>
															<li><div>M</div></li>
															<li><div>L</div></li>
															<li><div>XL</div></li>
														</ul>
													</span>
												</div>
											</form>
											
												
												

											
											<form class="product-form" onsubmit="return false">
											<p class="button-error-text hidden"></p>
											<button class="bag-btn addCart in_stock flexDisplay" data-cartid=${btnId} data-sizevar=${response.sizevariant} data-colorvar=${response.colorvariant}>Add To Cart</button>

											</form>
										</div>
									</div>
								</section>`;

		 					if(response.in_stock =="no") { 
                                 addbtn = document.querySelector('.in_stock'); 
                                 addbtn.innerHTML = 'out of stock'; 
                                 addbtn.disabled= true;
                            }						
                            $.when(
                                getDetails('image',btnId)
                            ).then(
                                wrap = document.querySelectorAll('.card-wrapper img')
                            );
							getDetails('color',btnId);
                            getDetails('color_dbl',btnId);	
                            getDetails('size',btnId);
                            if (document.querySelector('.bag-btn').getAttribute('data-sizevar') == '1') {
                               
                            } else if (document.querySelector('.bag-btn').getAttribute('data-colorvar') == '1') {
                                
                            }
								

                            //get bag btn start
                            const ui = new UI();
                            ui.getBagButtons();
                            //get bag btn end
                            
                            $('#editprofileproduct').scrollTop(0);
                            editDetail = document.getElementById('editprofileproduct')
                            productDetail = document.getElementById('product-detail')
                            editDetail.style.width = "100%";
                            //$('#product-detail').fadeIn('slow');
                            $('#product-detail').addClass('active-detail')
                            productDetail.setAttribute('data-detail',''+btnId+'');
                            
                            $("#mymodal-bg").fadeIn('slow');
									
                            $(document).on('click','.close-detail', function() {
                                //$('#product-detail').fadeOut('slow');
                                editDetail.style.width = "0%";
                                $("#mymodal-bg").fadeOut('slow');
                                
                            })
										
                            prodImg = document.querySelector('.product-imgs');
                            imgShowcase = document.querySelector('.img-showcase');
                            chevron = document.querySelector('.icon-display i');
                            mymodalbg = document.getElementById('#mymodal-bg');
                            //console.log(wrap)
                            //mymodalbg.addEventListener('scroll', function() {
                            $('#editprofileproduct').scroll(function() {	
                                prodImg.style.position = 'sticky';
                                prodImg.style.top = '0px'
                                prodImg.style.zIndex = '10';
                                //wrap = document.querySelectorAll('.card-wrapper img');
                                wrap.forEach(wrapItem => {
                                    wrapItem.style.position = 'sticky';
                                    wrapItem.style.top = '1px'
                                    wrapItem.style.zIndex = '10';
                                    width = 100- +($('#editprofileproduct').scrollTop()/$('#editprofileproduct').height())*100;
                                    opacity = 1.4- +($('#editprofileproduct').scrollTop()/$('#editprofileproduct').height()*4);
                                    chevron.style.opacity = opacity;
                                    //wrapItem.style.minWidth = 100- +($('body').scrollTop()/$('body').height())*100+'%';
                                    if(width>50) {
                                        //width = 100-($('body').scrollTop()/$('body').height())*100+'%';
                                        
                                        n = document.querySelector('.active-img').getAttribute('data-cnt');
                                        //mySum = width*(n-1)+'vw';
                                        mySum =0+'px';
                                        wrapItem.style.width =width+'%';
                                        imgShowcase.style.transform = 'translateX(-'+mySum+')';
                                    } else {
                                        wrapItem.style.width = '50%';
                                        rightSide = document.querySelector('.rightSide .product-price');
                                        rightSide.style.position = 'sticky';
                                        rightSide.style.top = '51vh';
                                        //rightSide.style.zIndex = '10';
                                        
                                        //imgShowcase.style.transform = "translateX(0px)"
                                    }
                                    
                                    //wrapItem.style.width = 100- +$('body').scrollTop()/12+'%';
                                    //console.log(document.body.pageYOffset/12)
                                })
                            })
						},
						error: function(r) {
							console.log(r)
						}
   });
	
})
//open product detail end

	
  </script>
  
</body>
</html>